<section role="region" class="vbox fit" instance-list>

  <header ng-class="{ 'state-loading': ctrl.api.loading }">

    <menu type="toolbar">
      <a href="#/instance">
        <span class="icon icon-add">add</span>
      </a>
    </menu>

    <h1>
      Popmote
    </h1>

    <progress class="pack-activity light" value="0" max="100"></progress>
    
  </header>  

  <section data-type="list" class="fit scroll sticky">
    <ul>
      <li ng-repeat="instance in ctrl.data.instances track by $index">
        <a ng-click="ctrl.viewTransition.Go('/remote/' + $index)">
          <p>
            {{ ::instance.name }}
          </p>
          <p>
            Running at 
            {{ ::instance.ip }}
          </p>
        </a>
      </li>
    </ul>
  </section>

  <footer class="gaia-footer">
    <button type="button" class="recommend" ng-click="ctrl.Autodetect()">
      Autodetect Popcorn Time
    </button>
  </footer>

</section>

