<section role="region" class="vbox fit" popcorn-list>

  <header ng-class="{ 'state-loading': ctrl.data.loading }">

    <menu type="toolbar">
      <a ng-click="Go('/profile/' + model.profile.id, 'popup')">
        <span class="icon icon-add">add</span>
      </a>
    </menu>

    <h1>
      Popmote
    </h1>

    <progress class="pack-activity light" value="0" max="100"></progress>
    
  </header>  

  <section data-type="list" class="fit scroll sticky">
    <ul>
      <li ng-repeat="instance in ctrl.data.instances track by $index">
        <a href="#/">
          <p>
            Popcorn Time {{ ::instance.popcornVersion }}
          </p>
          <p>
            Running at 
            {{ ::instance.url }}
          </p>
        </a>
      </li>
    </ul>
  </section>

  <footer class="gaia-footer">
    <button type="button" class="recommend" ng-click="ctrl.Autodetect()">
      Autodetect Popcorn Time
    </button>
  </footer>

</section>

